.remember-me {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.switch {
  position: relative;
  display: flex;
  /* margin-left: 0px; */
  /* display: inline-block; */
  margin-top: 3px;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.ls-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 50%; */
}

.image-container {
  display: flex;
  width: 42%;
}
.image-container img {
  display: flex;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.signup-container {
  display: flex;
  width: 58%;
}
.signup-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 430px;
  padding: 10px;
  border: 2px;
  /* background-color: red; */
}
.signup-item a {
  color: #e91f63;
  text-decoration: none;
}
.already-ask {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
form {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
input {
  margin-top: 10px;
}
.button {
  background-color: #e91f63;
  margin: 30px 15px 0 15px;
 
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: white;
  border-style: none;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.676); */
}
.button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.676);
  transition: all 1s;
}
